*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tieuDe{
    margin-top: 10px;
    height: 44px;
}

.noiDung{
    margin-bottom: 15px;
}
.linkTieude{
    padding-left: 10px;
    border-left: 5px solid rgb(168, 37, 37);
    color: rgb(168, 37, 37);
    text-decoration: none;
    font-family: segoe ui light;
    font-size: 18px;
    font-weight: bolder;
}
a{
    text-decoration: none;
}

.Tren{
    display: flex;
    justify-content: space-between;
    font-family: segoe ui light;
    color: black;
    margin-bottom: 44px;
}
.trai{
    width: 32%;
}
.phai{
    width: 32%;
}
.giua{
    width: 32%;
}

img {
    width: 100%;
    margin-bottom: 5px;
}
h4{
    margin-bottom: 18px;
    color: black;
    font-weight: bolder;
}
.text{
    color: black;
    margin-bottom: 18px;
}
.duoiTren{
     display: flex; 
     margin-bottom: 3px;
}
.duoiGiua{
     display: flex; 
     margin-bottom: 3px;
}
.duoiDuoi{
     display: flex; 
}
i{
    color: rgb(133, 19, 19);
    margin-right: 10px;
    margin-top: 2px;
    margin-left: 1px;
}

p{
    color: black;
}

.Duoi{
    display: flex;
    justify-content: space-between;
    font-family: segoe ui light;
    color: black;
}
